.printForm{

}

.formSection{
	margin-left:-1em
}
.formHeader{
	font-weight: bold;
	clear:both;
	display:block;
	font-weight:bold;
	margin-bottom:0.5em;
	margin-left:-1em
}
.pageSizeHeader{

}
.margins{

}
.inputWrapper{
	display: inline;
}
/*Own Creations start*/
div.line{
	clear:both;
	line-height:1.8em;
	min-height:1.8em;
	padding-top:0.4em
}
div.line>*, div.line .fieldContainer>*{
	display:inline-block;
	float:left;
	margin-right:0.2em
}
div.line>*.span,div.line .fieldContainer>*.span{
	height:1.8em;
	line-height:1.8em
}
div.line label{
	margin-right:1em
}
div.line .uniform.selector{
	margin-left:-2px;
	margin-top:-2px
}
div.line label.error{
	clear:both;
	display:block;
	float:none;
	font-size:1.1em
}
div.line .additionalHelp{
	clear:both;
	color:#666;
	display:block;
	float:none;
	font-size:1.1em
}
div.line span.error{
	color:#ff0000;
	display:block;
	line-height:1.7em;
	padding-left:12px
}

.close.jqmClose .icon,.renderTypeNode>.divider .close.cancel .icon,.renderTypeNode>.divider .close.delete .icon{background-position:0 -50px}

a.button{
	background:-moz-linear-gradient(0 0 270deg, #fefefe, #f2f2f2);background:-webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f2f2f2));background-color:#fefefe;border:1px solid #999;border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;color:#666;cursor:pointer;font-size:1em;height:14px;line-height:14px;padding:0.3em 0.7em;font-family:Arial, sans-serif;color:#333;display:inline-block;font-size:1.2em;font-weight:bold;height:auto;line-height:auto;margin:0.3em;padding:0.5em 1em;text-shadow:1px 1px 0 rgba(255,255,255,0.7);white-space:nowrap}

/* end */

.commonForm div.line{
	clear:both;
	line-height:1.8em;
	min-height:1.8em;
	padding-top:0.4em
}
.commonForm div.line>*,.commonForm div.line .fieldContainer>*{
	display:inline-block;
	float:left;
	margin-right:0.2em
}
.commonForm div.line>*.span,.commonForm div.line .fieldContainer>*.span{
	height:1.8em;
	line-height:1.8em
}
.commonForm div.line label{
	margin-right:1em
}
.commonForm div.line .uniform.selector{
	margin-left:-2px;
	margin-top:-2px
}
.commonForm div.line label.error{
	clear:both;
	display:block;
	float:none;
	font-size:1.1em
}
.commonForm div.line .additionalHelp{
	clear:both;
	color:#666;
	display:block;
	float:none;
	font-size:1.1em
}
.commonForm div.line span.error{
	color:#ff0000;
	display:block;
	line-height:1.7em;
	padding-left:12px
}
.commonForm .finishButtons{
	margin-top:1em
}
.commonForm .finishButtons li{
	float:left
}
.blist-combo-wrapper{cursor:default;position:relative}.blist-combo-wrapper.active{z-index:100}.blist-combo-wrapper .blist-combo{overflow:hidden;position:relative}.blist-combo-wrapper .blist-combo .blist-combo-value{float:none;overflow:hidden}.blist-combo-dd{background:#fff;border:1px solid #ccc;box-shadow:0 0 10px rgba(0,0,0,0.5);-moz-box-shadow:0 0 10px rgba(0,0,0,0.5);-webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);display:none;max-height:200px;overflow:auto;overflow-x:hidden;position:absolute;z-index:5000}.blist-combo-dd li{font-size:1.2em;padding:4px 5px;white-space:nowrap}.blist-combo-dd li.selected{background-color:#e3ecf7}div.uniform.selector,div.uniform.selector div,.blist-combo,.blist-combo-value,div.uniform.checker span,div.uniform.radio span,div.uniform.uploader,div.uniform.uploader span.action{background-image:url(/stylesheets/images/common/uniform_sprite.png);background-repeat:no-repeat}div.uniform.checker,div.uniform.radio{margin-right:1em}div.uniform.selector *,div.uniform.radio *,div.uniform.checker *,div.uniform.uploader *{margin:0;padding:0}div.uniform.selector select:focus,div.uniform.radio input:focus,div.uniform.checker input:focus,div.uniform.uploader input:focus{outline:0}div.uniform.selector,.blist-combo{background-position:-483px -130px;display:inline-block;font-size:1.2em;line-height:26px;height:26px;position:relative;vertical-align:bottom}div.uniform.selector div,.blist-combo div{background-position:right 0px;cursor:pointer;margin-left:10px;padding:0px 25px 0px 2px}div.uniform.selector div span,.blist-combo div span{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#666;display:block;height:26px;line-height:26px;text-shadow:0 1px 0 #fff}div.uniform.selector div.container,.blist-combo div.container{background-image:none;margin:0;position:absolute;padding:0;width:100%}div.uniform.selector select,.blist-combo select{border:solid 1px #fff;font-size:1em;opacity:0;padding-right:0.7em;position:relative;cursor:pointer}div.uniform.selector:active,div.uniform.selector.active,.blist-combo:active,.blist-combo.active{background-position:-483px -156px}div.uniform.selector:active .container div,div.uniform.selector.active .container div,.blist-combo:active .container div,.blist-combo.active .container div{background-position:right -26px}div.uniform.selector.focus,div.uniform.selector.hover,div.uniform.selector:hover,.blist-combo.focus,.blist-combo.hover,.blist-combo:hover{background-position:-483px -182px}div.uniform.selector.focus .container div,div.uniform.selector.hover .container div,div.uniform.selector:hover .container div,.blist-combo.focus .container div,.blist-combo.hover .container div,.blist-combo:hover .container div{background-position:right -52px}div.uniform.selector.focus:active,div.uniform.selector.focus.active,.blist-combo.focus:active,.blist-combo.focus.active{background-position:-483px -208px}div.uniform.selector.focus:active .container div,div.uniform.selector.focus.active .container div,.blist-combo.focus:active .container div,.blist-combo.focus.active .container div{background-position:right -78px}div.uniform.selector:hover:active,div.uniform.selector.active:hover,.blist-combo:hover:active,.blist-combo.active:hover{background-position:-483px -208px}div.uniform.selector:hover:active .container div,div.uniform.selector.active:hover .container div,.blist-combo:hover:active .container div,.blist-combo.active:hover .container div{background-position:right -78px}div.uniform.selector.disabled,.blist-combo.disabled{background-position:-483px -234px}div.uniform.selector.disabled .container div,.blist-combo.disabled .container div{background-position:right -104px}div.uniform.selector.disabled .container div span,.blist-combo.disabled .container div span{color:#bbb}.blist-combo div span{float:left}.blist-combo-focused{background-position:-483px -182px}.blist-combo-focused div{background-position:right -52px}.blist-combo-focused:active,.blist-combo-focused.active{background-position:-483px -208px}.blist-combo-focused:active div,.blist-combo-focused.active div{background-position:right -78px}div.uniform.checker{display:inline-block;height:19px;position:relative;vertical-align:bottom;width:19px}div.uniform.checker input{display:inline-block;height:19px;opacity:0;width:19px}div.uniform.checker span{background-position:0px -260px;display:block;float:left;height:19px;text-align:center;width:19px}div.uniform.checker:active span,div.uniform.checker.active span{background-position:-19px -260px}div.uniform.checker.focus span,div.uniform.checker:hover span{background-position:-38px -260px}div.uniform.checker.focus:active span,div.uniform.checker:active:hover span,div.uniform.checker.active:hover span,div.uniform.checker.focus.active span{background-position:-57px -260px}div.uniform.checker span.checked{background-position:-76px -260px}div.uniform.checker:active span.checked,div.uniform.checker.active span.checked{background-position:-95px -260px}div.uniform.checker.focus span.checked,div.uniform.checker:hover span.checked{background-position:-114px -260px}div.uniform.checker.focus:active span.checked,div.uniform.checker:hover:active span.checked{background-position:-133px -260px}div.uniform.checker.active:hover span.checked,div.uniform.checker.active.focus span.checked{background-position:-133px -260px}div.uniform.checker.disabled span,div.uniform.checker.disabled:active span,div.uniform.checker.disabled.active span{background-position:-152px -260px}div.uniform.checker.disabled span.checked,div.uniform.checker.disabled:active span.checked,div.uniform.checker.disabled.active span.checked{background-position:-171px -260px}div.uniform.radio{display:inline-block;height:18px;position:relative;vertical-align:bottom;width:18px}div.uniform.radio input{display:inline-block;height:18px;opacity:0;text-align:center;width:18px}div.uniform.radio span{background-position:0px -279px;display:block;float:left;height:18px;text-align:center;width:18px}div.uniform.radio:active span,div.uniform.radio.active span{background-position:-18px -279px}div.uniform.radio.focus span,div.uniform.radio:hover span{background-position:-36px -279px}div.uniform.radio.focus:active span,div.uniform.radio:active:hover span{background-position:-54px -279px}div.uniform.radio.active:hover span,div.uniform.radio.active.focus span{background-position:-54px -279px}div.uniform.radio span.checked{background-position:-72px -279px}div.uniform.radio:active span.checked,div.uniform.radio.active span.checked{background-position:-90px -279px}div.uniform.radio.focus span.checked,div.uniform.radio:hover span.checked{background-position:-108px -279px}div.uniform.radio.focus:active span.checked,div.uniform.radio:hover:active span.checked,div.uniform.radio.focus.active span.checked,div.uniform.radio.active:hover span.checked{background-position:-126px -279px}div.uniform.radio.disabled span,div.uniform.radio.disabled:active span,div.uniform.radio.disabled.active span{background-position:-144px -279px}div.uniform.radio.disabled span.checked,div.uniform.radio.disabled:active span.checked,div.uniform.radio.disabled.active span.checked{background-position:-162px -279px}div.uniform.uploader{background-position:0px -297px;cursor:pointer;height:28px;overflow:hidden;position:relative;width:190px}div.uniform.uploader span.action{background-color:#fff;background-position:right -409px;cursor:pointer;display:inline;float:left;font-size:1.1em;font-weight:bold;height:24px;line-height:24px;overflow:hidden;padding:2px 0px;text-align:center;text-shadow:#fff 0px 1px 0px;width:85px}div.uniform.uploader span.filename{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;border-right:solid 1px #bbb;color:#777;display:block;float:left;font-size:1.1em;height:24px;line-height:24px;margin:2px 0px 2px 2px;padding:0px 10px;width:82px}div.uniform.uploader input[type="file"]{bottom:0;float:right;height:28px;opacity:0;position:absolute;right:0;top:0;width:190px}div.uniform.uploader.focus,div.uniform.uploader.hover,div.uniform.uploader:hover{background-position:0px -353px}div.uniform.uploader.focus span.action,div.uniform.uploader.hover span.action,div.uniform.uploader:hover span.action{background-position:right -437px}div.uniform.uploader.active span.action,div.uniform.uploader:active span.action{background-position:right -465px}div.uniform.uploader.focus.active span.action,div.uniform.uploader:focus.active span.action,div.uniform.uploader.focus:active span.action,div.uniform.uploader:focus:active span.action{background-position:right -493px}div.uniform.uploader.disabled{background-position:0px -325px}div.uniform.uploader.disabled span.action{background-position:right -381px;color:#aaa}div.uniform.uploader.disabled span.filename{border-color:#ddd;color:#aaa}#signup .password .icon{background-color:transparent;background-position:0 0;background-repeat:no-repeat;display:block;text-align:left;text-indent:-9999px;background-image:url(/stylesheets/images/icons/menu_icons.png?3);height:13px;width:13px}#signup .password .icon{background-position:0 0}#signup .password.none .icon{background-position:0 13px}#signup .password.downArrow .icon,#signup .password.downArrowNoHover .icon,#signup .password.headerSortUp .icon{background-position:0 0}#signup .password.downArrow:hover .icon,#signup .password.downArrowHighlight .icon,#signup .password.collapsed .icon{background-position:0 -13px}#signup .password.upArrow .icon,#signup .password.upArrowNoHover .icon,#signup .password.headerSortDown .icon{background-position:0 -26px}#signup .password.upArrow:hover .icon,#signup .password.upArrowHighlight .icon,#signup .password.expanded .icon{background-position:0 -39px}#signup .password.rightArrow .icon,#signup .password.next .icon{background-position:0 -52px}#signup .password.rightArrow:hover .icon,#signup .password.rightArrowHighlight .icon{background-position:0 -65px}#signup .password.leftArrow .icon,#signup .password.leftArrowNoHover .icon,#signup .password.previous .icon{background-position:0 -78px}#signup .password.leftArrow:hover .icon,#signup .password.leftArrowHighlight .icon{background-position:0 -91px}#signup .password.add .icon{background-position:0 -104px}#signup .password.search .icon{background-position:0 -117px}#signup .password.about .icon{background-position:0 -130px}#signup .password.fullscreen .icon{background-position:0 -143px}#signup .password.share .icon{background-position:0 -156px}#signup .password.checked .icon{background-position:0 -169px}#signup .password.iconView .icon{background-position:0 -182px}#signup .password.listView .icon{background-position:0 -195px}#signup .password.fatrowView .icon{background-position:0 -208px}#signup .password.gridView .icon{background-position:0 -221px}#signup .password.typeFilter .icon{background-position:0 -234px}#signup .password.typeChart .icon{background-position:0 -247px}#signup .password.typeMap .icon{background-position:0 -260px}#signup .password.typeBlist .icon{background-position:0 -273px}#signup .password.feed .icon{background-position:0 -286px}#signup .password.typeApi .icon,#signup .password.embed .icon{background-position:0 -299px}#signup .password.views .icon{background-position:0 -312px}#signup .password.downloads .icon{background-position:0 -325px}#signup .password.delicious .icon{background-position:0 -338px}#signup .password.digg .icon{background-position:0 -351px}#signup .password.facebook .icon{background-position:0 -364px}#signup .password.twitter .icon{background-position:0 -377px}#signup .password.email .icon{background-position:0 -390px}#signup .password.rateUp .icon{background-position:0 -403px}#signup .password.ratedUp .icon{background-position:0 -416px}#signup .password.rateDown .icon{background-position:0 -429px}#signup .password.ratedDown .icon{background-position:0 -442px}#signup .password.typeForm .icon{background-position:0 -455px}#signup .password.typeCalendar .icon{background-position:0 -468px}#signup .password.typeBlob .icon{background-position:0 -481px}#signup .password.typeGrouped .icon{background-position:0 -494px}#signup .password.close .icon,#signup .password.remove .icon{background-position:0 -507px}#signup .password.alert .icon,#signup .password.warning .icon{background-position:0 -520px}#signup .password.subscribe .icon{background-position:0 -533px}#signup .password.start .icon{background-position:0 -546px}#signup .password.end .icon{background-position:0 -559px}#signup .password.options .icon{background-position:0 -572px}#signup .password.typeHref .icon{background-position:0 -585px}#signup .password.typeData_lens .icon{background:none;text-indent:0}#signup .password.typeData_lens .icon::before{font-family:'socrata-icons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:13px;color:#80acca}#signup .password.error .icon{background-position:0 -598px}#signup .password.typeUnpublished .icon{background-position:0 -611px}#signup .password .icon{display:inline-block;position:relative;top:2px;left:3px}ul.menu{background-color:#ececec;border:1px solid #8d8d8d;border-bottom:none;display:none;margin-bottom:9px;position:absolute;z-index:200}ul.menu.shown{display:block}ul.menu li{display:block;padding:4px 0}ul.menu li.sectionTitle{color:#959393;font-size:1.1em;line-height:1.2em;padding-left:30px;padding-right:10px}ul.menu li a{color:#333333;display:block;font-size:1.1em;height:15px;line-height:15px;overflow:hidden;padding:0.2em 10px 0.2em 30px;text-decoration:none}ul.menu li.disabled a{color:#999999;cursor:auto}ul.menu.noicon li a{padding-left:5px}ul.menu li>a>.highlight{display:block;overflow:hidden}ul.menu li>a:hover{background-color:#cacaca}ul.menu li.disabled>a:hover{background-color:transparent}ul.menu li.separator{border-top:solid 1px #999;height:0;line-height:0;margin:-1px 10px -2px;padding:0}ul.menu li.loading{background-image:url(/images/throbber.gif);background-position:center center;background-repeat:no-repeat;height:16px;margin:0 auto;width:16px}ul.menu li.footer{background-image:url(/stylesheets/images/widgets/menu/corner_light_left_bottom.png);background-position:bottom left;background-repeat:no-repeat;bottom:-9px;height:9px;margin:0 -1px;padding:0;position:absolute;width:100%;z-index:-1}ul.menu li.footer .outerWrapper{background-image:url(/stylesheets/images/widgets/menu/corner_light_right_bottom.png);background-position:bottom right;background-repeat:no-repeat;height:9px;margin-left:9px;margin-right:-2px;padding-right:9px}ul.menu li.footer .innerWrapper{background-color:#ececec;border-bottom:1px solid #8d8d8d;display:block;height:8px}ul.menu a.externalLink .highlight{background-image:url(/stylesheets/images/content/external.png);background-position:right 0;background-repeat:no-repeat;height:15px;padding-right:11px}ul.menu a.externalLink:hover .highlight{background-position:right -15px}ul.menu li.submenu{position:relative}ul.menu li.submenu .menu{left:97%;top:0}ul.menu a.submenuLink .highlight{background-image:url(/stylesheets/images/widgets/menu/submenu_arrow.png);background-position:right 0.2em;background-repeat:no-repeat}ul.menu.optionMenu,ul.menu.checkboxMenu{background-color:#cacaca}ul.menu.optionMenu li,ul.menu.checkboxMenu li{background-color:#ececec;margin-left:30px}ul.menu.optionMenu li .sectionTitle,ul.menu.checkboxMenu li .sectionTitle{margin-bottom:-1px;padding-left:5px}ul.menu.optionMenu li .separator,ul.menu.checkboxMenu li .separator{height:2px;margin-right:0;padding:0}ul.menu.optionMenu li a,ul.menu.checkboxMenu li a{margin-left:-30px;padding-left:33px}ul.menu.optionMenu li.footer,ul.menu.checkboxMenu li.footer{background-color:transparent;background-image:url(/stylesheets/images/widgets/menu/corner_dark_left_bottom.png);margin-left:-1px}ul.menu.optionMenu li.footer .colorWrapper,ul.menu.checkboxMenu li.footer .colorWrapper{background-color:#cacaca;display:block;height:8px;width:22px}ul.menu.optionMenu li.button,ul.menu.checkboxMenu li.button{margin:0 0 0 30px}ul.menu.optionMenu li.button a,ul.menu.checkboxMenu li.button a{margin:0}ul.menu.multilevelMenu{width:37em}ul.menu.multilevelMenu>li{border-bottom:solid 1px #cacaca;border-top:solid 1px #ececec;padding:0;width:50%}ul.menu.multilevelMenu>li.active{border:solid 1px #8d8d8d;border-left:none;border-right:none}ul.menu.multilevelMenu>li.active.first{border-top:solid 1px #cacaca}ul.menu.multilevelMenu li dt a{color:#333333;font-size:1.5em;font-weight:bold;margin:0;padding:0.3em;text-decoration:none}ul.menu.multilevelMenu li.active dt{background-color:#cacaca;position:relative;z-index:201}ul.menu.multilevelMenu>li.active.first dt{margin-top:-1px;padding-top:1px}ul.menu.multilevelMenu dd>ul{background-color:#cacaca;border-left:solid 1px #8d8d8d;display:none;height:100%;position:absolute;right:0;top:0;width:50%}ul.menu.multilevelMenu dd>ul>li>a:hover{background-color:#ececec}ul.menu.multilevelMenu li.active>dl>dd>ul{display:block}ul.menu.multilevelMenu dd>ul>li.separator{border-top:solid 1px #ececec;margin:0.3em 10px 0.3em 30px;padding:0}ul.menu.multilevelMenu>li.footer{background-color:transparent;border:none;width:100%}ul.menu.multilevelMenu>li.footer>.outerWrapper{background-image:url(/stylesheets/images/widgets/menu/corner_dark_right_bottom.png);border:none}ul.menu.multilevelMenu>li.footer>.outerWrapper>.innerWrapper>.colorWrapper{background-color:#cacaca;border-left:solid 1px #8d8d8d;display:block;float:right;height:8px;width:50%}ul.menu li a.disabled{color:#8d8d8d;text-decoration:none}ul.menu li.scrollable.hidden{display:none}ul.menu li.button{padding:0;margin:0 1em}ul.menu li.button.prev{border-bottom:solid 1px #999999}ul.menu li.button.next{border-top:solid 1px #999999}ul.menu li.button a{background-image:none;background-position:left center;background-repeat:no-repeat;margin:0 -10px;padding-left:5px;text-indent:-9999px}ul.menu li.button .outerWrapper{background-position:right center;background-repeat:no-repeat;padding-right:5px}ul.menu li.button .midWrapper{background-position:left center;background-repeat:repeat-x}ul.menu li.button .innerWrapper{background-position:left center;background-repeat:no-repeat;display:block;min-width:20px}ul.menu li.button.prev .innerWrapper{background-image:url(/stylesheets/images/widgets/dropdown_button/arrow_up.png)}ul.menu li.button.next .innerWrapper{background-image:url(/stylesheets/images/widgets/dropdown_button/arrow_down.png)}ul.menu li.button.prev.disabled .innerWrapper{background-image:url(/stylesheets/images/widgets/dropdown_button/arrow_up_disabled.png)}ul.menu li.button.next.disabled .innerWrapper{background-image:url(/stylesheets/images/widgets/dropdown_button/arrow_down_disabled.png)}ul.menu li.button.disabled a:hover{background-image:none;cursor:default}ul.menu li.button.disabled a:hover .outerWrapper,ul.menu li.button.disabled a:hover .midWrapper{background-image:none}button.button,input.button,a.button{background:-moz-linear-gradient(0 0 270deg, #fefefe, #f2f2f2);background:-webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f2f2f2));background-color:#fefefe;border:1px solid #999;border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;color:#666;cursor:pointer;font-size:1em;height:14px;line-height:14px;padding:0.3em 0.7em;font-family:Arial, sans-serif;color:#333;display:inline-block;font-size:1.2em;font-weight:bold;height:auto;line-height:auto;margin:0.3em;padding:0.5em 1em;text-shadow:1px 1px 0 rgba(255,255,255,0.7);white-space:nowrap}button.button:hover,button.button:focus,input.button:hover,input.button:focus,a.button:hover,a.button:focus{box-shadow:0 0 .3em rgba(0,0,0,0.2);-moz-box-shadow:0 0 .3em rgba(0,0,0,0.2);-webkit-box-shadow:0 0 .3em rgba(0,0,0,0.2)}button.button.disabled,input.button.disabled,a.button.disabled{background:-moz-linear-gradient(0 0 270deg, #fcfcfc, #f8f8f8);background:-webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f8f8f8));background-color:#fcfcfc;border:1px solid #ddd;color:#888;cursor:default}button.button.disabled:hover,input.button.disabled:hover,a.button.disabled:hover{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}.noLinearGradient button.button,.noLinearGradient input.button,.noLinearGradient a.button{background-image:url(/ui/box.png?w=3&h=21&fc=fefefe,f2f2f2&rx=1&ry=1&rw=1)}.noLinearGradient button.button:hover,.noLinearGradient input.button:hover,.noLinearGradient a.button:hover{border-color:#777}.noLinearGradient button.button.tall,.noLinearGradient input.button.tall,.noLinearGradient a.button.tall{background-image:url(/ui/box.png?w=3&h=46&fc=fefefe,f2f2f2&rx=1&ry=1&rw=1)}button.button.active,input.button.active,a.button.active{background:-moz-linear-gradient(0 0 270deg, #f2f2f2, #fefefe);background:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#fefefe));background-color:#f2f2f2;border-color:#555;box-shadow:0 0 .1em rgba(0,0,0,0.2);-moz-box-shadow:0 0 .1em rgba(0,0,0,0.2);-webkit-box-shadow:0 0 .1em rgba(0,0,0,0.2)}button.button.default,input.button.default,a.button.default{background:-moz-linear-gradient(0 0 270deg, #f33, #933);background:-webkit-gradient(linear, left top, left bottom, from(#f33), to(#933));background-color:#ff3333;border-color:#933;color:#fff;text-shadow:none}button.button.default.disabled,input.button.default.disabled,a.button.default.disabled{background:-moz-linear-gradient(0 0 270deg, #f88, #c66);background:-webkit-gradient(linear, left top, left bottom, from(#f88), to(#c66));background-color:#ff8888;border:1px solid #c66;color:#eee}.noLinearGradient button.button.default,.noLinearGradient input.button.default,.noLinearGradient a.button.default{background-image:url(/ui/box.png?w=3&h=21&fc=ff3333,993333&rx=1&ry=1&rw=1)}.ie8 button.button.default,.ie9 button.button.default,.ie8 input.button.default,.ie9 input.button.default,.ie8 a.button.default,.ie9 a.button.default{background-image:url(/ui/box.png?w=3&h=31&fc=ff3333,993333&rx=1&ry=1&rw=1)}.noLinearGradient button.button,.noLinearGradient input.button,.noLinearGradient a.button{background-image:url(/ui/box.png?w=3&h=28&fc=fefefe,f2f2f2&rx=1&ry=1&rw=1)}.dropdown-button .button.next .icon,.create-resource-buttons .button.next .icon{background-position:0 -52px}.dropdown-button .icon,.create-resource-buttons .icon{display:inline-block;margin-left:0.3em;position:relative;top:0.2em;background-color:transparent;background-repeat:no-repeat;text-align:left;text-indent:-9999px;background-image:url(/stylesheets/images/icons/menu_icons.png?3);height:13px;width:13px}input.secondary-button,a.secondary-button{color:#666;background-color:#eee;display:block;position:relative;width:auto}input.secondary-button>.icon,a.secondary-button>.icon{position:absolute !important;right:0.5em !important;top:50% !important;transform:translate(0, -50%);-webkit-transform:translate(0, -50%);-moz-transform:translate(0, -50%);-ms-transform:translate(0, -50%);-o-transform:translate(0, -50%)}#create-resource-dropdown .create-resource-panel,#create-resource-footer-dropdown .create-resource-panel{height:auto;padding-top:15px}#create-resource-dropdown .create-resource-buttons,#create-resource-footer-dropdown .create-resource-buttons{display:block;text-align:left}#create-resource-dropdown .create-resource-spinner,#create-resource-footer-dropdown .create-resource-spinner{display:none}#create-resource-dropdown.working .create-resource-panel,#create-resource-footer-dropdown.working .create-resource-panel{height:48px}#create-resource-dropdown.working .create-resource-buttons,#create-resource-footer-dropdown.working .create-resource-buttons{display:none}#create-resource-dropdown.working .create-resource-spinner,#create-resource-footer-dropdown.working .create-resource-spinner{display:block}#create-story-button,#create-story-footer-button,#create-measure-button,#create-measure-footer-button,#create-tabular-beta{margin-top:0.5em}.fullButton{background-color:#fff;border:1px solid #cecece;border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em;display:block;font-size:1.3em;font-weight:bold;margin-top:1em;padding:0.6em 1em;text-align:center}div.menu{display:inline-block;position:relative;transition-duration:.2s;-moz-transition-duration:.2s;-webkit-transition-duration:.2s;-o-transition-duration:.2s;transition-property:box-shadow;-moz-transition-property:-moz-box-shadow;-webkit-transition-property:-webkit-box-shadow;-o-transition-property:-o-box-shadow}div.menu .menuButton{background-color:#fff;color:#000;display:block;font-size:1.2em;height:1em;line-height:1em;padding:0.6em 1em;position:relative;transition-property:border;-moz-transition-property:border;-webkit-transition-property:border;-o-transition-property:border;z-index:50}div.menu .menuButton .icon{background-color:transparent;background-position:0 0;background-repeat:no-repeat;display:block;text-align:left;text-indent:-9999px;background-image:url(/stylesheets/images/icons/menu_icons.png?3);height:13px;width:13px}div.menu .menuButton .icon{background-position:0 0}div.menu .menuButton.none .icon{background-position:0 13px}div.menu .menuButton.downArrow .icon,div.menu .menuButton.downArrowNoHover .icon,div.menu .menuButton.headerSortUp .icon{background-position:0 0}div.menu .menuButton.downArrow:hover .icon,div.menu .menuButton.downArrowHighlight .icon,div.menu .menuButton.collapsed .icon{background-position:0 -13px}div.menu .menuButton.upArrow .icon,div.menu .menuButton.upArrowNoHover .icon,div.menu .menuButton.headerSortDown .icon{background-position:0 -26px}div.menu .menuButton.upArrow:hover .icon,div.menu .menuButton.upArrowHighlight .icon,div.menu .menuButton.expanded .icon{background-position:0 -39px}div.menu .menuButton.rightArrow .icon,div.menu .menuButton.next .icon{background-position:0 -52px}div.menu .menuButton.rightArrow:hover .icon,div.menu .menuButton.rightArrowHighlight .icon{background-position:0 -65px}div.menu .menuButton.leftArrow .icon,div.menu .menuButton.leftArrowNoHover .icon,div.menu .menuButton.previous .icon{background-position:0 -78px}div.menu .menuButton.leftArrow:hover .icon,div.menu .menuButton.leftArrowHighlight .icon{background-position:0 -91px}div.menu .menuButton.add .icon{background-position:0 -104px}div.menu .menuButton.search .icon{background-position:0 -117px}div.menu .menuButton.about .icon{background-position:0 -130px}div.menu .menuButton.fullscreen .icon{background-position:0 -143px}div.menu .menuButton.share .icon{background-position:0 -156px}div.menu .menuButton.checked .icon{background-position:0 -169px}div.menu .menuButton.iconView .icon{background-position:0 -182px}div.menu .menuButton.listView .icon{background-position:0 -195px}div.menu .menuButton.fatrowView .icon{background-position:0 -208px}div.menu .menuButton.gridView .icon{background-position:0 -221px}div.menu .menuButton.typeFilter .icon{background-position:0 -234px}div.menu .menuButton.typeChart .icon{background-position:0 -247px}div.menu .menuButton.typeMap .icon{background-position:0 -260px}div.menu .menuButton.typeBlist .icon{background-position:0 -273px}div.menu .menuButton.feed .icon{background-position:0 -286px}div.menu .menuButton.typeApi .icon,div.menu .menuButton.embed .icon{background-position:0 -299px}div.menu .menuButton.views .icon{background-position:0 -312px}div.menu .menuButton.downloads .icon{background-position:0 -325px}div.menu .menuButton.delicious .icon{background-position:0 -338px}div.menu .menuButton.digg .icon{background-position:0 -351px}div.menu .menuButton.facebook .icon{background-position:0 -364px}div.menu .menuButton.twitter .icon{background-position:0 -377px}div.menu .menuButton.email .icon{background-position:0 -390px}div.menu .menuButton.rateUp .icon{background-position:0 -403px}div.menu .menuButton.ratedUp .icon{background-position:0 -416px}div.menu .menuButton.rateDown .icon{background-position:0 -429px}div.menu .menuButton.ratedDown .icon{background-position:0 -442px}div.menu .menuButton.typeForm .icon{background-position:0 -455px}div.menu .menuButton.typeCalendar .icon{background-position:0 -468px}div.menu .menuButton.typeBlob .icon{background-position:0 -481px}div.menu .menuButton.typeGrouped .icon{background-position:0 -494px}div.menu .menuButton.close .icon,div.menu .menuButton.remove .icon{background-position:0 -507px}div.menu .menuButton.alert .icon,div.menu .menuButton.warning .icon{background-position:0 -520px}div.menu .menuButton.subscribe .icon{background-position:0 -533px}div.menu .menuButton.start .icon{background-position:0 -546px}div.menu .menuButton.end .icon{background-position:0 -559px}div.menu .menuButton.options .icon{background-position:0 -572px}div.menu .menuButton.typeHref .icon{background-position:0 -585px}div.menu .menuButton.typeData_lens .icon{background:none;text-indent:0}div.menu .menuButton.typeData_lens .icon::before{font-family:'socrata-icons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:13px;color:#80acca}div.menu .menuButton.error .icon{background-position:0 -598px}div.menu .menuButton.typeUnpublished .icon{background-position:0 -611px}div.menu .menuButton:hover{text-decoration:none}div.menu .menuButton .icon{margin-left:0.2em}div.menu .menuDropdown{background-color:#fff;border:1px solid #999999;border-radius:.3em;-moz-border-radius:.3em;-webkit-border-radius:.3em;box-shadow:0 0 4px rgba(0,0,0,0.5);-moz-box-shadow:0 0 4px rgba(0,0,0,0.5);-webkit-box-shadow:0 0 4px rgba(0,0,0,0.5);display:none;margin-top:0.2em;overflow:hidden;position:absolute;z-index:10000}div.menu .menuDropdown ul.menuColumns{margin:0.3em 0;overflow:hidden}div.menu .menuDropdown ul.menuColumns li.menuColumn{border-left:1px solid #dedede;display:block;float:left;margin-bottom:-9999px;padding-bottom:9999px}div.menu .menuDropdown ul.menuColumns li.menuColumn:first-child{border-left:none}div.menu .menuDropdown ul.menuColumns li.menuColumn ul.menuEntries{min-width:10em;padding:0.2em 0}div.menu .menuDropdown ul.menuColumns li.menuColumn ul.menuEntries li.menuEntry{clear:both;display:block}div.menu .menuDropdown ul.menuColumns li.menuColumn ul.menuEntries li.menuEntry.divider{border-top:1px solid #eee;margin-top:0.2em;padding-top:0.2em}div.menu .menuDropdown ul.menuColumns li.menuColumn ul.menuEntries li.menuEntry.divider:first-child{border-top:none;margin-top:0;padding-top:0}div.menu .menuDropdown ul.menuColumns li.menuColumn ul.menuEntries li.menuEntry a{border-bottom:1px solid #ffffff;border-top:1px solid #ffffff;display:block;font-size:1.2em;padding:0.3em;padding-right:0.8em;padding-left:2.6em;position:relative}div.menu .menuDropdown ul.menuColumns li.menuColumn ul.menuEntries li.menuEntry a:hover{background-color:#f7f7f7;border-color:#dedede;text-decoration:none}div.menu .menuDropdown ul.menuColumns li.menuColumn ul.menuEntries li.menuEntry a .icon{left:0.8em;position:absolute;top:0.3em}div.menu .menuDropdown ul.menuColumns li.menuColumn ul.menuEntries li.menuEntry a .subtext{color:#777;font-size:0.85em;margin:0.2em 0.1em}div.menu.open .menuButton .icon{background-position:0 -13px}div.menu.open .menuDropdown{clear:both;display:block}.starsControl .accessibleValue{background-color:transparent;background-position:0 0;background-repeat:no-repeat;display:block;text-align:left;text-indent:-9999px;display:inline-block}.starsControl input[type=radio]{height:16px;margin:0;margin-right:1px;opacity:0;padding:0;vertical-align:bottom;width:16px}.ie8 .starsControl input[type=radio]{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}.starsControl input[type=radio]:focus+.starsLabel{border-bottom:1px solid #666666}.starsControl .starsLabel{background-color:transparent;background-position:0 0;background-repeat:no-repeat;display:block;text-align:left;text-indent:-9999px;background:transparent url("/stylesheets/images/icons/stars.png") no-repeat;background-position:0 -16px;display:inline-block;height:16px;margin:0 1px;padding:0;width:16px}.starsControl.enabled .starsLabel{margin-left:-16px;margin-right:1px}.starsControl input:checked+.starsLabel ~ .starsLabel,.starsControl .currentValue ~ .starsLabel{background-position:0 0}.ie8 .starsControl input[checked="checked"]+.starsLabel ~ .starsLabel{background-position:0 0}.starsControl input[value='0'],.starsControl input[value='0']+.starsLabel,.starsControl .value-0{display:none}.ie8 .starsControl.blueStars input[type=radio]{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}.starsControl.blueStars .starsLabel{background-position:0 -32px}.ie8 .starsControl.blueStars .starsLabel{display:none}.starsControl.enabled input{cursor:pointer}.starsControl.enabled:hover label.starsLabel{background-position:0 -32px}.starsControl.enabled:hover input:hover+.starsLabel ~ .starsLabel{background-position:0 0}.starsControl.jsEnabled input[type=submit]{display:none}.starsControl.smallStars input[type=radio],.starsControl.smallStars .starsLabel{height:10px;width:10px}.starsControl.smallStars .starsLabel{background:transparent url("/stylesheets/images/icons/stars_small.png") no-repeat;background-position:0 -10px}.starsControl.smallStars.enabled .starsLabel{margin-left:-10px}div.wizard{overflow:hidden}div.wizard>ul{display:block;position:relative}div.wizard>ul>li{display:none;float:left}ul.wizardButtons{margin:1em}ul.wizardButtons li{display:block}ul.wizardButtons li.cancel,ul.wizardButtons li.save{float:left}ul.wizardButtons li.prev,ul.wizardButtons li.next{float:right}.pillButtons{border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;overflow:hidden}.pillButtons:hover{box-shadow:0 0 .3em rgba(0,0,0,0.2);-moz-box-shadow:0 0 .3em rgba(0,0,0,0.2);-webkit-box-shadow:0 0 .3em rgba(0,0,0,0.2)}.pillButtons li{display:block;float:left}.pillButtons li a{background:-moz-linear-gradient(0 0 270deg, #fefefe, #f2f2f2);background:-webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f2f2f2));background-color:#fefefe;border:1px solid #999;border-left:none;color:#666;display:block;padding:0.3em 0.45em;padding-left:0.5em}.noLinearGradient .pillButtons li a{background-image:url(/ui/box.png?w=3&h=21&fc=fefefe,f2f2f2&rx=1&ry=1&rw=1)}.pillButtons li a.active{background-color:#777;background:-moz-linear-gradient(0 0 270deg, #777, #aaa);background:-webkit-gradient(linear, left top, left bottom, from(#777), to(#aaa));box-shadow:inset 0 0 .3em rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 .3em rgba(0,0,0,0.3);-webkit-box-shadow:inset 0 0 .3em rgba(0,0,0,0.3);color:#fff}.noLinearGradient .pillButtons li a.active{background-image:none}.pillButtons li a:focus{box-shadow:inset 0 0 .3em rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 .3em rgba(0,0,0,0.3);-webkit-box-shadow:inset 0 0 .3em rgba(0,0,0,0.3)}.pillButtons li:first-child a,.pillButtons li.first a{-moz-border-radius-topleft:.2em;-webkit-border-top-left-radius:.2em;-moz-border-radius-bottomleft:.2em;-webkit-border-bottom-left-radius:.2em;border:1px solid #999}.pillButtons li:last-child a,.pillButtons li.last a{-moz-border-radius-topright:.2em;-webkit-border-top-right-radius:.2em;-moz-border-radius-bottomright:.2em;-webkit-border-bottom-right-radius:.2em}.contentIndicatorContainer{position:relative}.contentIndicatorContainer .contentIndicator{border-radius:9999px;-moz-border-radius:9999px;-webkit-border-radius:9999px;box-shadow:0 1px 1px rgba(0,0,0,0.5);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.5);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.5);background-color:#ff0000;font-size:1.1em;font-weight:bold;padding:0.2em 0.5em 0;position:absolute}.ie .contentIndicatorContainer .contentIndicator{border:1px solid #fff;margin-left:2px;padding:0.1em 0.3em}.bt-wrapper .bt-content .prompt{font-size:1.1em}.bt-wrapper .bt-content .actionButtons{margin-left:-1em;margin-top:0.75em;text-align:center}.bt-wrapper .bt-content .actionButtons li{display:inline-block;float:none}.bt-wrapper .bt-content .actionButtons li a{display:inline-block}.bt-wrapper .bt-content .title{font-weight:bold;display:inline-block;margin-top:1em}.bt-wrapper .bt-content .flyoutIcon .blist-th-icon{display:inline-block;margin-top:0em;margin-bottom:-0.5em}.bt-wrapper .wizardPrompt{padding-right:1em;text-align:left}.bt-wrapper .wizardPrompt .wizardDismiss{background-color:transparent;background-position:0 0;background-repeat:no-repeat;display:block;text-align:left;text-indent:-9999px;background-image:url(/stylesheets/images/common/close.png);height:13px;width:13px;position:absolute;right:3px;top:3px}.bt-wrapper .wizardPrompt .prompt{font-size:1.2em}.loadingSpinner{animation:busy-spinner 0.9s linear infinite;border:8px solid #288dc1;border-radius:50%;border-right-color:#eaf4f9;box-sizing:border-box;display:inline-block;height:48px;width:48px;left:50%;margin-left:-24px;margin-top:-24px;position:absolute;top:50%;z-index:10000}.loadingSpinner.minimal{background-color:transparent;background-position:0 0;background-repeat:no-repeat;display:block;text-align:left;text-indent:-9999px;animation:busy-spinner 0.9s linear infinite;border:3px solid #288dc1;border-radius:50%;border-right-color:#eaf4f9;box-sizing:border-box;display:inline-block;height:16px;width:16px;margin-left:-8px;margin-top:-8px}.loadingSpinner .hidden{display:none}.loadingSpinnerContainer{background:transparent url(/stylesheets/images/common/spinner_background.png) no-repeat;height:48px;left:50%;margin-left:-50px;margin-top:-50px;padding:26px;position:absolute;top:50%;width:48px;z-index:10000}.loadingSpinnerContainer .loadingSpinner{margin:0;position:static}.loadingSpinnerContainer .loadingMessage,.loadingSpinnerContainer .loadingCountdown{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background-color:rgba(255,255,255,0.5);font-size:1.2em;font-weight:bold;margin-left:-8em;margin-top:0.5em;text-align:center;width:20em}.loadingOverlay{background-color:#eeeeee;height:100%;left:0;filter:alpha(opacity=70);opacity:0.7;position:absolute;top:0;width:100%;z-index:6000}div#color_selector{background-color:#ffffff;border:1px solid #cccccc;padding:10px 5px;position:absolute;width:137px;z-index:3001}div#color_selector div#color_custom{float:left;margin-top:-10px;width:100%}div#color_selector div#color_custom label{color:#2F2F2F;font-size:0.95em;margin:5px 2px;width:25%}div#color_selector div#color_custom input{border:1px solid #000;font-size:0.95em;margin:5px 2px 0;width:65%}div#color_selector div.color_block{border:1px solid #666666;border-right:none;margin-bottom:10px}div.color_swatch,a.color_swatch{border-right:1px solid #666666;cursor:pointer;display:block;float:left;height:16px;line-height:16px;width:16px}div.color_swatch .inner,a.color_swatch .inner{display:block;height:14px;width:14px}div.color_swatch.selected .inner,a.color_swatch.selected .inner{border:1px solid #20608f}div.color_swatch.hover .inner,a.color_swatch.hover .inner{border:1px solid #ffffff}#jqmUpload label{margin-right:0.5em}div.datepicker{display:none;left:0;margin-left:-4px;position:absolute;top:0;z-index:4000}div.datepicker .datepickerContainer{background-color:#e8e8e8}div.datepicker .datepickerContainer table{border-collapse:collapse;padding:3px}div.datepicker .datepickerContainer table th{color:#666666;font-weight:normal;text-align:center}div.datepicker .datepickerContainer table td{padding:0.5em;text-align:right}div.datepicker .datepickerContainer table td table td{padding:0}div.datepicker .datepickerContainer table td .datepickerNotInMonth a{color:#999999}div.datepicker .datepickerContainer table td .datepickerNotInMonth a:hover{color:#660000}div.datepicker .datepickerContainer table td.datepickerDisabled a,div.datepicker .datepickerContainer table td.datepickerDisabled a:hover,div.datepicker .datepickerContainer table td.datepickerDisabled.datepickerNotInMonth a{color:#333}div.datepicker .datepickerContainer table td.datepickerSpecial a{background:#700}div.datepicker .datepickerContainer table td.datepickerSpecial.datepickerSelected a{background:#a00}div.datepicker .datepickerContainer table tbody th{text-align:right}div.datepicker .datepickerContainer table tbody a{display:block}div.datepicker .datepickerContainer table table th,div.datepicker .datepickerContainer table table td{font-size:1.1em}div.datepicker .datepickerContainer table table.datepickerViewDays tbody.datepickerMonths,div.datepicker .datepickerContainer table table.datepickerViewDays tbody.datepickerYears{display:none}div.datepicker .datepickerContainer table table.datepickerViewMonths tbody.datepickerDays,div.datepicker .datepickerContainer table table.datepickerViewMonths tbody.datepickerYears,div.datepicker .datepickerContainer table table.datepickerViewMonths tr.datepickerDoW{display:none}div.datepicker .datepickerContainer table table.datepickerViewYears tbody.datepickerDays,div.datepicker .datepickerContainer table table.datepickerViewYears tbody.datepickerMonths,div.datepicker .datepickerContainer table table.datepickerViewYears tr.datepickerDoW{display:none}div.datepicker .datepickerContainer a{color:#333333;cursor:default;text-decoration:none}div.datepicker .datepickerContainer a:hover{color:#660000}div.datepicker .datepickerContainer tbody.datepickerDays a{height:1.6em;line-height:1.6em;padding-right:0.2em;width:2em}div.datepicker .datepickerContainer tbody.datepickerDays td.datepickerSelected{background-color:#20608f}div.datepicker .datepickerContainer tbody.datepickerDays td.datepickerSelected a{color:#ffffff}div.datepicker .datepickerContainer tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected{background-color:#10304f}div.datepicker .datepickerContainer .datepickerYears a,div.datepicker .datepickerContainer .datepickerMonths a{height:3.6em;line-height:3.6em;text-align:center;width:4em}div.datepicker .datepickerContainer .datepickerYears td.datepickerSelected,div.datepicker .datepickerContainer .datepickerMonths td.datepickerSelected{background-color:#20608f}div.datepicker .datepickerContainer .datepickerSpace div{width:2em}div.datepicker .datepickerContainer .datepickerGoNext a,div.datepicker .datepickerContainer .datepickerGoPrev a,div.datepicker .datepickerContainer .datepickerMonth a{height:2em;line-height:2em;text-align:center}div.datepicker .datepickerContainer .datepickerGoNext a,div.datepicker .datepickerContainer .datepickerGoPrev a{width:2em}.datepickerHidden{display:none}ul.autocomplete{background-color:#fff;border:1px solid #777;display:block;list-style-type:none;margin:0;min-height:5em;overflow:hidden;padding:2px;position:absolute}ul.autocomplete li{border-top:1px solid #aaa;cursor:pointer;padding:4px}ul.autocomplete li:first-child{border-top:none}ul.autocomplete li.active{background-color:#f7f7f7}ul.autocomplete li p{font-size:1.2em;margin:1px 4px;white-space:nowrap}ul.autocomplete li p .title{font-weight:bold}ul.autocomplete li p .matchRow{color:#666}ul.autocomplete li span.matchedField{color:#999;padding-right:0.5em}ul.autocomplete li span.match{font-weight:bold}.userPicker{max-width:300px;min-width:250px;z-index:1000}form.search label{display:none}form.search .searchField{border-radius:.1733em;-moz-border-radius:.1733em;-webkit-border-radius:.1733em;background:#fff url(/stylesheets/images/icons/search_large.png) no-repeat 8px 6px;font-size:1.5em;margin:0;margin-right:0.2em;padding:0.25em;padding-left:2em;width:15em}form.search .searchField.prompt{color:#ccc}form.search .submit{background:-moz-linear-gradient(0 0 270deg, #fefefe, #f2f2f2);background:-webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f2f2f2));background-color:#fefefe;border:1px solid #999;border-radius:.2em;-moz-border-radius:.2em;-webkit-border-radius:.2em;color:#666;cursor:pointer;font-size:1em;height:14px;line-height:14px;padding:0.3em 0.7em;color:#444;height:auto;margin:0;font-size:1.3em;text-transform:uppercase}form.search .submit:hover,form.search .submit:focus{box-shadow:0 0 .3em rgba(0,0,0,0.2);-moz-box-shadow:0 0 .3em rgba(0,0,0,0.2);-webkit-box-shadow:0 0 .3em rgba(0,0,0,0.2)}form.search .submit.disabled{background:-moz-linear-gradient(0 0 270deg, #fcfcfc, #f8f8f8);background:-webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f8f8f8));background-color:#fcfcfc;border:1px solid #ddd;color:#888;cursor:default}form.search .submit.disabled:hover{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}.noLinearGradient form.search .submit{background-image:url(/ui/box.png?w=3&h=21&fc=fefefe,f2f2f2&rx=1&ry=1&rw=1)}.noLinearGradient form.search .submit:hover{border-color:#777}.noLinearGradient form.search .submit.tall{background-image:url(/ui/box.png?w=3&h=46&fc=fefefe,f2f2f2&rx=1&ry=1&rw=1)}form.search .submit.active{background:-moz-linear-gradient(0 0 270deg, #f2f2f2, #fefefe);background:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#fefefe));background-color:#f2f2f2;border-color:#555;box-shadow:0 0 .1em rgba(0,0,0,0.2);-moz-box-shadow:0 0 .1em rgba(0,0,0,0.2);-webkit-box-shadow:0 0 .1em rgba(0,0,0,0.2)}form.search .submit.default{background:-moz-linear-gradient(0 0 270deg, #f33, #933);background:-webkit-gradient(linear, left top, left bottom, from(#f33), to(#933));background-color:#ff3333;border-color:#933;color:#fff;text-shadow:none}form.search .submit.default.disabled{background:-moz-linear-gradient(0 0 270deg, #f88, #c66);background:-webkit-gradient(linear, left top, left bottom, from(#f88), to(#c66));background-color:#ff8888;border:1px solid #c66;color:#eee}.noLinearGradient form.search .submit.default{background-image:url(/ui/box.png?w=3&h=21&fc=ff3333,993333&rx=1&ry=1&rw=1)}.ie8 form.search .submit.default,.ie9 form.search .submit.default{background-image:url(/ui/box.png?w=3&h=31&fc=ff3333,993333&rx=1&ry=1&rw=1)}.ie8 form.search .submit{bottom:2px;padding:0.4em 0.6em 0.45em;position:relative}.popupSelectPrompt{color:#fff;font-size:1.2em;margin:0.3em;margin-bottom:0.8em}.popupSelectList{background-color:#fff;box-shadow:inset 0 2px 5px rgba(0,0,0,0.35);-moz-box-shadow:inset 0 2px 5px rgba(0,0,0,0.35);-webkit-box-shadow:inset 0 2px 5px rgba(0,0,0,0.35);max-width:40em;min-width:20em;overflow-x:hidden;overflow-y:auto}.popupSelectList li{border-top:1px solid #999;font-size:1.3em;padding:0.6em 1em}.popupSelectList li .icon{background-color:transparent;background-position:0 0;background-repeat:no-repeat;display:block;text-align:left;text-indent:-9999px;background-image:url(/stylesheets/images/icons/menu_icons.png?3);height:13px;width:13px}.popupSelectList li .icon{background-position:0 0}.popupSelectList li.none .icon{background-position:0 13px}.popupSelectList li.downArrow .icon,.popupSelectList li.downArrowNoHover .icon,.popupSelectList li.headerSortUp .icon{background-position:0 0}.popupSelectList li.downArrow:hover .icon,.popupSelectList li.downArrowHighlight .icon,.popupSelectList li.collapsed .icon{background-position:0 -13px}.popupSelectList li.upArrow .icon,.popupSelectList li.upArrowNoHover .icon,.popupSelectList li.headerSortDown .icon{background-position:0 -26px}.popupSelectList li.upArrow:hover .icon,.popupSelectList li.upArrowHighlight .icon,.popupSelectList li.expanded .icon{background-position:0 -39px}.popupSelectList li.rightArrow .icon,.popupSelectList li.next .icon{background-position:0 -52px}.popupSelectList li.rightArrow:hover .icon,.popupSelectList li.rightArrowHighlight .icon{background-position:0 -65px}.popupSelectList li.leftArrow .icon,.popupSelectList li.leftArrowNoHover .icon,.popupSelectList li.previous .icon{background-position:0 -78px}.popupSelectList li.leftArrow:hover .icon,.popupSelectList li.leftArrowHighlight .icon{background-position:0 -91px}.popupSelectList li.add .icon{background-position:0 -104px}.popupSelectList li.search .icon{background-position:0 -117px}.popupSelectList li.about .icon{background-position:0 -130px}.popupSelectList li.fullscreen .icon{background-position:0 -143px}.popupSelectList li.share .icon{background-position:0 -156px}.popupSelectList li.checked .icon{background-position:0 -169px}.popupSelectList li.iconView .icon{background-position:0 -182px}.popupSelectList li.listView .icon{background-position:0 -195px}.popupSelectList li.fatrowView .icon{background-position:0 -208px}.popupSelectList li.gridView .icon{background-position:0 -221px}.popupSelectList li.typeFilter .icon{background-position:0 -234px}.popupSelectList li.typeChart .icon{background-position:0 -247px}.popupSelectList li.typeMap .icon{background-position:0 -260px}.popupSelectList li.typeBlist .icon{background-position:0 -273px}.popupSelectList li.feed .icon{background-position:0 -286px}.popupSelectList li.typeApi .icon,.popupSelectList li.embed .icon{background-position:0 -299px}.popupSelectList li.views .icon{background-position:0 -312px}.popupSelectList li.downloads .icon{background-position:0 -325px}.popupSelectList li.delicious .icon{background-position:0 -338px}.popupSelectList li.digg .icon{background-position:0 -351px}.popupSelectList li.facebook .icon{background-position:0 -364px}.popupSelectList li.twitter .icon{background-position:0 -377px}.popupSelectList li.email .icon{background-position:0 -390px}.popupSelectList li.rateUp .icon{background-position:0 -403px}.popupSelectList li.ratedUp .icon{background-position:0 -416px}.popupSelectList li.rateDown .icon{background-position:0 -429px}.popupSelectList li.ratedDown .icon{background-position:0 -442px}.popupSelectList li.typeForm .icon{background-position:0 -455px}.popupSelectList li.typeCalendar .icon{background-position:0 -468px}.popupSelectList li.typeBlob .icon{background-position:0 -481px}.popupSelectList li.typeGrouped .icon{background-position:0 -494px}.popupSelectList li.close .icon,.popupSelectList li.remove .icon{background-position:0 -507px}.popupSelectList li.alert .icon,.popupSelectList li.warning .icon{background-position:0 -520px}.popupSelectList li.subscribe .icon{background-position:0 -533px}.popupSelectList li.start .icon{background-position:0 -546px}.popupSelectList li.end .icon{background-position:0 -559px}.popupSelectList li.options .icon{background-position:0 -572px}.popupSelectList li.typeHref .icon{background-position:0 -585px}.popupSelectList li.typeData_lens .icon{background:none;text-indent:0}.popupSelectList li.typeData_lens .icon::before{font-family:'socrata-icons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:13px;color:#80acca}.popupSelectList li.error .icon{background-position:0 -598px}.popupSelectList li.typeUnpublished .icon{background-position:0 -611px}.popupSelectList li:first-child{border-top:none}.popupSelectList li:hover{background-color:#c60;color:#fff;cursor:pointer}.popupSelectList li .selectedIcon{float:left}.popupSelectList li .contentWrapper{line-height:1.3em;min-height:1.3em;padding:0 1.6em}.popupSelectList.iconPicker{height:30em;width:38em}.popupSelectList.iconPicker li{border:none;display:inline-block;padding:0.3em;width:auto}.popupSelectList.iconPicker li .icon{display:none}.popupSelectList.iconPicker li .contentWrapper{padding:0 0.2em}.renderTypeNode>.divider{background-color:#999;background:-moz-linear-gradient(0 0 270deg, #999, gray);background:-webkit-gradient(linear, left top, left bottom, from(#999), to(gray));display:none;height:14px;position:relative}.noLinearGradient .renderTypeNode>.divider{background-image:none}.renderTypeNode>.divider .close{position:absolute;right:5px;top:2px;z-index:1}.renderTypeNode>.divider .close .icon{background-color:transparent;background-position:0 0;background-repeat:no-repeat;display:block;text-align:left;text-indent:-9999px;background-image:url(/stylesheets/images/icons/button_icons.png?1);height:10px;width:10px}.renderTypeNode>.divider .close .icon,.renderTypeNode>.divider .close.upArrow .icon{background-position:0 0}.renderTypeNode>.divider .close.go .icon,.renderTypeNode>.divider .close.submit .icon{background-position:0 -10px}.renderTypeNode>.divider .close.accept .icon{background-position:0 -20px}.renderTypeNode>.divider .close.add .icon{background-position:0 -30px}.renderTypeNode>.divider .close.downArrow .icon{background-position:0 -40px}.renderTypeNode>.divider .close.close .icon,.renderTypeNode>.divider .close.jqmClose .icon,.renderTypeNode>.divider .close.cancel .icon,.renderTypeNode>.divider .close.delete .icon{background-position:0 -50px}.renderTypeNode>.divider .close.downArrowDark .icon{background-position:0 -60px}.renderTypeNode>.divider .close.upArrowDark .icon{background-position:0 -70px}.renderTypeNode .renderContent{position:relative}.multipleRenderers .renderTypeNode>.divider{display:block}.reasonBox textarea{font-size:1em}.reasonBox.jsEnabled{background-color:#ffffff;border:1px solid #cecece;padding:0.5em;position:absolute;right:0;top:1.8em;z-index:1}.reasonBox.jsEnabled textarea{height:4em;width:12em}.reasonBox.jsEnabled input{margin-top:0.5em}.reasonBox.jsEnabled .remove{position:absolute;right:2px;top:2px}.reasonBox.jsEnabled .remove .icon{background-color:transparent;background-position:0 0;background-repeat:no-repeat;display:block;text-align:left;text-indent:-9999px;background-image:url(/stylesheets/images/icons/menu_icons.png?3);height:13px;width:13px}.reasonBox.jsEnabled .remove .icon{background-position:0 0}.reasonBox.jsEnabled .remove.none .icon{background-position:0 13px}.reasonBox.jsEnabled .remove.downArrow .icon,.reasonBox.jsEnabled .remove.downArrowNoHover .icon,.reasonBox.jsEnabled .remove.headerSortUp .icon{background-position:0 0}.reasonBox.jsEnabled .remove.downArrow:hover .icon,.reasonBox.jsEnabled .remove.downArrowHighlight .icon,.reasonBox.jsEnabled .remove.collapsed .icon{background-position:0 -13px}.reasonBox.jsEnabled .remove.upArrow .icon,.reasonBox.jsEnabled .remove.upArrowNoHover .icon,.reasonBox.jsEnabled .remove.headerSortDown .icon{background-position:0 -26px}.reasonBox.jsEnabled .remove.upArrow:hover .icon,.reasonBox.jsEnabled .remove.upArrowHighlight .icon,.reasonBox.jsEnabled .remove.expanded .icon{background-position:0 -39px}.reasonBox.jsEnabled .remove.rightArrow .icon,.reasonBox.jsEnabled .remove.next .icon{background-position:0 -52px}.reasonBox.jsEnabled .remove.rightArrow:hover .icon,.reasonBox.jsEnabled .remove.rightArrowHighlight .icon{background-position:0 -65px}.reasonBox.jsEnabled .remove.leftArrow .icon,.reasonBox.jsEnabled .remove.leftArrowNoHover .icon,.reasonBox.jsEnabled .remove.previous .icon{background-position:0 -78px}.reasonBox.jsEnabled .remove.leftArrow:hover .icon,.reasonBox.jsEnabled .remove.leftArrowHighlight .icon{background-position:0 -91px}.reasonBox.jsEnabled .remove.add .icon{background-position:0 -104px}.reasonBox.jsEnabled .remove.search .icon{background-position:0 -117px}.reasonBox.jsEnabled .remove.about .icon{background-position:0 -130px}.reasonBox.jsEnabled .remove.fullscreen .icon{background-position:0 -143px}.reasonBox.jsEnabled .remove.share .icon{background-position:0 -156px}.reasonBox.jsEnabled .remove.checked .icon{background-position:0 -169px}.reasonBox.jsEnabled .remove.iconView .icon{background-position:0 -182px}.reasonBox.jsEnabled .remove.listView .icon{background-position:0 -195px}.reasonBox.jsEnabled .remove.fatrowView .icon{background-position:0 -208px}.reasonBox.jsEnabled .remove.gridView .icon{background-position:0 -221px}.reasonBox.jsEnabled .remove.typeFilter .icon{background-position:0 -234px}.reasonBox.jsEnabled .remove.typeChart .icon{background-position:0 -247px}.reasonBox.jsEnabled .remove.typeMap .icon{background-position:0 -260px}.reasonBox.jsEnabled .remove.typeBlist .icon{background-position:0 -273px}.reasonBox.jsEnabled .remove.feed .icon{background-position:0 -286px}.reasonBox.jsEnabled .remove.typeApi .icon,.reasonBox.jsEnabled .remove.embed .icon{background-position:0 -299px}.reasonBox.jsEnabled .remove.views .icon{background-position:0 -312px}.reasonBox.jsEnabled .remove.downloads .icon{background-position:0 -325px}.reasonBox.jsEnabled .remove.delicious .icon{background-position:0 -338px}.reasonBox.jsEnabled .remove.digg .icon{background-position:0 -351px}.reasonBox.jsEnabled .remove.facebook .icon{background-position:0 -364px}.reasonBox.jsEnabled .remove.twitter .icon{background-position:0 -377px}.reasonBox.jsEnabled .remove.email .icon{background-position:0 -390px}.reasonBox.jsEnabled .remove.rateUp .icon{background-position:0 -403px}.reasonBox.jsEnabled .remove.ratedUp .icon{background-position:0 -416px}.reasonBox.jsEnabled .remove.rateDown .icon{background-position:0 -429px}.reasonBox.jsEnabled .remove.ratedDown .icon{background-position:0 -442px}.reasonBox.jsEnabled .remove.typeForm .icon{background-position:0 -455px}.reasonBox.jsEnabled .remove.typeCalendar .icon{background-position:0 -468px}.reasonBox.jsEnabled .remove.typeBlob .icon{background-position:0 -481px}.reasonBox.jsEnabled .remove.typeGrouped .icon{background-position:0 -494px}.reasonBox.jsEnabled .remove.close .icon,.reasonBox.jsEnabled .remove.remove .icon{background-position:0 -507px}.reasonBox.jsEnabled .remove.alert .icon,.reasonBox.jsEnabled .remove.warning .icon{background-position:0 -520px}.reasonBox.jsEnabled .remove.subscribe .icon{background-position:0 -533px}.reasonBox.jsEnabled .remove.start .icon{background-position:0 -546px}.reasonBox.jsEnabled .remove.end .icon{background-position:0 -559px}.reasonBox.jsEnabled .remove.options .icon{background-position:0 -572px}.reasonBox.jsEnabled .remove.typeHref .icon{background-position:0 -585px}.reasonBox.jsEnabled .remove.typeData_lens .icon{background:none;text-indent:0}.reasonBox.jsEnabled .remove.typeData_lens .icon::before{font-family:'socrata-icons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:13px;color:#80acca}.reasonBox.jsEnabled .remove.error .icon{background-position:0 -598px}.reasonBox.jsEnabled .remove.typeUnpublished .icon{background-position:0 -611px}.saveViewDialog{margin-left:-14em;width:28em}.saveViewDialog input{width:95%}.saveViewDialog p,.saveViewDialog label.newName{margin:0.5em 0}.saveViewDialog label.newName{display:block;font-size:1.2em;line-height:1.1em}.saveViewDialog .info{font-weight:bold;margin-bottom:1.5em}.saveViewDialog .leavingSave{display:none}.saveViewDialog .reloadSave{display:none}.saveViewDialog .reloadUpdate{display:none}.saveViewDialog.leavingSaveDialog .leavingSave{display:block}.saveViewDialog.leavingSaveDialog .normalSave{display:none}.saveViewDialog.reloadSaveDialog .reloadSave{display:block}.saveViewDialog.reloadSaveDialog .normalSave{display:none}.saveViewDialog.reloadUpdateDialog .reloadUpdate{display:block}.saveViewDialog.reloadUpdateDialog .normalSave{display:none}#login form label{width:8em}#login form .additionalHelp{margin-left:11.5em}#login form label.error,#login form span.error{margin-left:11em}#login .accountMaint{bottom:2.1em;left:18em;position:absolute}#login .accountMaint li{padding-bottom:0.3em}#login .accountMaint li a{font-size:1.2em}#signup form label{width:9em}#signup form .additionalHelp{margin-left:12.5em}#signup form label.error,#signup form span.error{margin-left:12em}#signup form input[type=text],#signup form input[type=password],#signup form textarea,#signup form label.error{width:14em}#signup form span{font-size:1.2em}#signup form .terms{margin:0.5em 0}#signup form div.required{margin-top:1em}#signup form .signup_loadingIndicator{background-color:transparent;background-position:0 0;background-repeat:no-repeat;display:block;text-align:left;text-indent:-9999px;animation:busy-spinner 0.9s linear infinite;border:3px solid #288dc1;border-radius:50%;border-right-color:#eaf4f9;box-sizing:border-box;display:inline-block;height:16px;width:16px}.visualization{position:relative;z-index:0}.visualization .noDataMessage{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background-color:#cccccc;font-size:1.3em;font-weight:bold;left:50%;margin-left:-5em;padding:1em;position:absolute;top:40%;z-index:1}div.autocompleteCombo{background-image:url(/stylesheets/images/common/uniform_sprite.png);background-position:-485px -130px;background-repeat:no-repeat;display:inline-block;height:26px;line-height:26px;vertical-align:bottom}div.autocompleteCombo.required{padding:0}div.autocompleteCombo .wrapper{background-image:url(/stylesheets/images/common/uniform_sprite.png);background-position:right 0px;background-repeat:no-repeat;height:22px;line-height:26px;margin-left:8px;padding-bottom:2px;padding-left:0;padding-right:25px;padding-top:1px}div.autocompleteCombo .textInput{background-color:#ffffff;border-color:#dddddd;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;cursor:pointer;padding:0}div.autocompleteCombo .dropdownChooser{background:none;display:inline-block;height:21px;position:absolute;right:4px;top:2px;width:21px}ul.autocompleteComboDropdown{background-color:#fff;border:1px solid #777;display:block;list-style-type:none;margin:0;overflow:hidden;padding:0;position:absolute;z-index:3002}ul.autocompleteComboDropdown li{border-top:1px solid #aaa;cursor:pointer;padding:0}ul.autocompleteComboDropdown li:first-child{border-top:none}ul.autocompleteComboDropdown li div{padding:4px;padding-left:14px}ul.autocompleteComboDropdown li p{font-size:1.2em;margin:1px 4px;white-space:nowrap}ul.autocompleteComboDropdown li p .title{font-weight:bold}ul.autocompleteComboDropdown li p .matchRow{color:#666}ul.autocompleteComboDropdown li span.matchedField{color:#999;padding-right:0.5em}ul.autocompleteComboDropdown li span.match{font-weight:bold}ul.autocompleteComboDropdown li.active div{background-color:#f7f7f7}.ss-icon,[class^="ss-"]:before,[class*=" ss-"]:before,[class^="ss-"]:after,[class*=" ss-"]:after{vertical-align:sub}.ss-icon.button{font-weight:normal;padding-top:0.6em}[class^="ss-"]:not(:empty):before,[class*=" ss-"]:not(:empty):before{margin-right:0.4em}.contentEditable.editing{min-height:1.5em}#configuratorSettings label{font-weight:bold;width:5.5em}#configuratorSettings input{width:21.5em}#configuratorSettings span.error{margin-left:8em}#configuratorSettings .errorMessage{font-size:1.2em;margin-bottom:-1em;margin-top:1em;padding-left:1em}#sessionTimeoutModal .buttonWrapper{text-align:right}.hallotoolbar{background-color:#f4f4f4;border:1px solid #cecece;border-radius:.2em;-webkit-border-radius:.2em;-moz-border-radius:.2em;-ms-border-radius:.2em;-o-border-radius:.2em;box-shadow:0 0.15em 0.35em rgba(0,0,0,0.3);-webkit-box-shadow:0 0.15em 0.35em rgba(0,0,0,0.3);-moz-box-shadow:0 0.15em 0.35em rgba(0,0,0,0.3);-ms-box-shadow:0 0.15em 0.35em rgba(0,0,0,0.3);-o-box-shadow:0 0.15em 0.35em rgba(0,0,0,0.3);padding:8px;white-space:nowrap;z-index:9999;transition-duration:.1s;-moz-transition-duration:.1s;-webkit-transition-duration:.1s;-o-transition-duration:.1s;transition-property:left;-moz-transition-property:left;-webkit-transition-property:left;-o-transition-property:left}.hallotoolbar button::-moz-focus-inner,.hallotoolbar input::-moz-focus-inner,.hallotoolbar input[type="button"]::-moz-focus-inner{border:0;padding:0}.hallotoolbar>.ui-buttonset{margin-left:12px;margin-right:0}.hallotoolbar>.ui-buttonset:first-child{margin-left:0}.hallotoolbar>.ui-buttonset.hallobetterlink .ui-button,.hallotoolbar>.ui-buttonset.hallobetterlink button{position:relative;height:22px}.hallotoolbar>.ui-buttonset.hallobetterlink.expanded .linkForm{display:inherit}.hallotoolbar>.ui-buttonset.hallobetterlink.expanded .ui-button-text{left:4px;position:absolute;top:4px}.hallotoolbar .ui-corner-left{-moz-border-radius-topleft:0;-webkit-border-top-left-radius:0;border-top-left-radius:0;-moz-border-radius-bottomleft:0;-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0}.hallotoolbar .ui-corner-right{-moz-border-radius-topright:0;-webkit-border-top-right-radius:0;border-top-right-radius:0;-moz-border-radius-bottomright:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0}.hallotoolbar .ui-buttonset .ui-button{margin-left:0;margin-right:0}.hallotoolbar .ui-button{height:32px}.hallotoolbar .ui-button .ui-button-text{line-height:normal;padding:0}.hallotoolbar .ui-button span{padding:0}.hallotoolbar a.ui-button{display:inline-block;height:22px}.hallotoolbar input:disabled{color:#aaaaaa;font-style:italic}.hallotoolbar .ui-button{background-color:#ddd;border:1px solid #bbb;cursor:pointer;outline:none;padding:4px;transition-duration:.1s;-moz-transition-duration:.1s;-webkit-transition-duration:.1s;-o-transition-duration:.1s;transition-property:background-color;-moz-transition-property:background-color;-webkit-transition-property:background-color;-o-transition-property:background-color}.hallotoolbar .ui-button:hover{background-color:#e4e4e4}.hallotoolbar .ui-button .ui-button-text i{color:#444;display:block;font-size:13px;padding:4px;width:12px}.hallotoolbar .linkForm{display:none}.hallotoolbar .linkForm input[type=submit]{display:none}.hallotoolbar .linkForm input[type=text]{height:22px;margin:-1px 0 0 0;padding-top:0;padding-bottom:0;padding-left:18px;padding-right:18px;width:338px}.hallotoolbar .linkForm input[type=text]::-ms-clear{display:none}.hallotoolbar .linkForm .clear,.hallotoolbar .linkForm .warning{position:absolute;right:12px;top:8px}.hallotoolbar .linkForm .warning{display:none;color:#cb1919;right:24px;cursor:default}.hallotoolbar .urlError input[type=text]{color:#cb1919}.hallotoolbar .urlError .warning{display:inherit}.hallotoolbar .halloheadings .ui-button .ui-button-text,.hallotoolbar .halloheadings button .ui-button-text{display:block;font-size:13px;padding-left:4px;padding-right:4px}.hallotoolbar .halloheadings>span+span ~ span{display:none}.globalStatusIndicator{border-radius:0 0 .4em .4em;-moz-border-radius:0 0 .4em .4em;-webkit-border-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:.4em;-webkit-border-bottom-left-radius:.4em;border:1px solid #fff;border-top:none;color:#ffffff;height:1.5em;left:50%;margin-left:-8em;padding:0.5em 0.5em 0.8em;position:fixed;text-align:center;transition-duration:.5s;-moz-transition-duration:.5s;-webkit-transition-duration:.5s;-o-transition-duration:.5s;transition-property:top;-moz-transition-property:top;-webkit-transition-property:top;-o-transition-property:top;top:-100%;width:16em;z-index:10000}.globalStatusIndicator .icon,.globalStatusIndicator .message{font-size:1.5em;font-weight:bold;vertical-align:middle}.globalStatusIndicator .icon{display:none;margin-right:0.5em}.globalStatusIndicator.shown{top:0}.globalStatusIndicator.state-good{background-color:#09a74f}.globalStatusIndicator.state-good .icon.good{display:inline-block}.globalStatusIndicator.state-waiting{background-color:#fcc806}.globalStatusIndicator.state-waiting .icon.waiting{display:inline-block}.globalStatusIndicator.state-bad{background-color:#e33229}.globalStatusIndicator.state-bad .icon.bad{display:inline-block}#nbe-geocoding{position:absolute;display:block;top:0;left:0;width:100%;height:100%;background-color:#f7f7f7;z-index:1}#nbe-geocoding .nbe-geocoding-option.line{margin-bottom:0}#nbe-geocoding .nbe-geocoding-option.line.input{margin-top:0;margin-bottom:2em}#nbe-geocoding .nbe-geocoding-option.line.input label{position:relative;display:block;float:left;width:auto;top:0;overflow:visible}#nbe-geocoding .nbe-geocoding-option.line.input input{float:right;margin-right:6px;width:56.75%}